.header {
	padding-top: 30px;
	text-align: center;
	width: 80%;
	margin: 0 auto;

	@media @desktop {
		text-align: left;
		margin-left: 7%;
		width: 60%;
	}

	.title {
		font-size: @fontSize-headerTitle;
		margin-bottom: 10px;
	}
}
